##################### GitHub Python Ignore Template #########################

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.hypothesis/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

############################ Node    #########################################
# Node configuration
/node_modules/*

############################ PyCharm #########################################
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

########################### USER IGNORE ######################################
# Excess / Overage
Writerside/*
.obsidian/*
/obsidian/*
.ai/*

########################### DOC CONTROL ######################################
# Undo as needed for.
# Tracker
/src/libs/
/uuv/cypress/
/uuv/reports
/uuv/.uuv-features-gen
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/src/libs/aplinejs/alpine-3.13.3/**

/cypress/e2e/1-getting-started/
/cypress/
/e2e/
/tmp/
/uuv/
/Writerside/
/webpack.config.js
/Makefile
/piecesdb.json
/.tailwindorder
/playwright.config.ts
/jest.config.js
/TESTING.md
/tsconfig.json
/cypress.config.js
/.cypress-cucumber-preprocessorrc.json
/pre-commit.pyz
/.fleet/
/tests/codium/App._checkSequenceWin.js.es6
/tests/codium/App._getRandomCharacter.js.es6
/tests/codium/App._isEvenTurn.js.es6
/tests/codium/App._isInvalidMove.js.es6
/tests/codium/App._updateTurnsAndGird.js.es6
/tests/codium/App.checkWinner.js.es6
/tests/codium/App.reset.js.es6
/tests/codium/App.select.js.es6
/tests/codium/Function.gameApp.js.es6
/tests/tests-examples/demo-todo-app.spec.ts
/tests/test_jest_game.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/.github/ISSUE_TEMPLATE/config.yml
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/.github/workflows/run-tests.yml
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/.github/FUNDING.yml
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/benchmarks/giant.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/benchmarks/init.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/benchmarks/loop.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/benchmarks/memory.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/benchmarks/mutation_observer.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/builds/cdn.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/builds/module.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-bind.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-cloak.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-data.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-effect.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-for.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-html.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-id.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-if.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-ignore.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-init.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-model.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-modelable.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-on.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-ref.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-show.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-teleport.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-text.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives/x-transition.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/magics/$data.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/magics/$dispatch.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/magics/$el.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/magics/$id.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/magics/$nextTick.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/magics/$refs.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/magics/$root.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/magics/$store.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/magics/$watch.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/magics/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/utils/bind.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/utils/classes.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/utils/debounce.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/utils/dispatch.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/utils/error.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/utils/on.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/utils/once.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/utils/styles.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/utils/throttle.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/utils/walk.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/utils/warn.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/alpine.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/binds.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/clone.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/datas.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/directives.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/entangle.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/evaluator.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/ids.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/interceptor.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/lifecycle.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/magics.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/mutation.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/nextTick.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/plugin.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/reactivity.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/scheduler.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/scope.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/src/store.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/alpinejs/package.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/anchor/builds/cdn.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/anchor/builds/module.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/anchor/src/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/anchor/package.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/collapse/builds/cdn.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/collapse/builds/module.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/collapse/src/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/collapse/package.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/csp/builds/cdn.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/csp/builds/module.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/csp/src/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/csp/package.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/advanced/async.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/advanced/csp.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/advanced/extending.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/advanced/reactivity.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/bind.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/cloak.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/data.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/effect.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/for.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/html.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/id.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/if.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/ignore.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/init.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/model.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/modelable.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/on.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/ref.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/show.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/teleport.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/text.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives/transition.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/essentials/events.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/essentials/installation.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/essentials/lifecycle.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/essentials/state.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/essentials/templating.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/globals/alpine-bind.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/globals/alpine-data.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/globals/alpine-store.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/magics/data.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/magics/dispatch.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/magics/el.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/magics/id.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/magics/nextTick.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/magics/refs.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/magics/root.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/magics/store.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/magics/watch.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/plugins/anchor.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/plugins/collapse.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/plugins/focus.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/plugins/intersect.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/plugins/mask.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/plugins/morph.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/plugins/persist.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/advanced.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/directives.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/essentials.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/globals.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/magics.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/plugins.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/start-here.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/src/en/upgrade-guide.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/docs/package.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/focus/builds/cdn.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/focus/builds/module.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/focus/src/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/focus/.gitignore
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/focus/package.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/history/builds/cdn.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/history/builds/module.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/history/src/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/history/package.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/intersect/builds/cdn.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/intersect/builds/module.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/intersect/src/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/intersect/package.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/mask/builds/cdn.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/mask/builds/module.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/mask/src/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/mask/package.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/morph/builds/cdn.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/morph/builds/module.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/morph/src/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/morph/src/morph.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/morph/src/old_morph.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/morph/package.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/navigate/builds/cdn.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/navigate/builds/module.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/navigate/src/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/navigate/package.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/persist/builds/cdn.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/persist/builds/module.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/persist/src/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/persist/package.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/builds/cdn.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/builds/module.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/demo/listbox/data-driven.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/demo/listbox/index.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/demo/listbox/multiple.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/demo/index.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/src/combobox.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/src/dialog.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/src/disclosure.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/src/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/src/list-context.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/src/listbox.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/src/menu.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/src/popover.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/src/radio.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/src/switch.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/src/tabs.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/packages/ui/package.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/scripts/.env.example.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/scripts/build.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/scripts/release.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/scripts/update-docs.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/scripts/utils.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/fixtures/example.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-bind.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-bind-class.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-bind-style.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-cloak.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-data.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-for.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-html.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-if.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-ignore.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-init.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-model.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-modelable.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-on.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-show.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-teleport.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-text.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/directives/x-transition.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/magics/$data.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/magics/$dispatch.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/magics/$el.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/magics/$id.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/magics/$nextTick.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/magics/$refs.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/magics/$root.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/magics/$watch.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/ui/combobox.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/ui/dialog.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/ui/disclosure.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/ui/listbox.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/ui/menu.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/ui/popover.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/ui/radio.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/ui/switch.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/ui/tabs.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/anchor.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/collapse.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/csp-compatibility.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/focus.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/history.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/intersect.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/mask.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/morph.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/navigate.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/plugins/persist.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/clone.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/custom-bind.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/custom-data.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/custom-directives.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/custom-interceptors.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/custom-magics.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/custom-prefix.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/entangle.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/error-handling.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/mutation.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/scope.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/integration/store.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/plugins/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/support/commands.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/support/index.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/.gitignore
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/manual-memory.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/manual-transition-test.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/spec.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/spec-csp.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/cypress/utils.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/jest/morph/createElement.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/jest/morph/external.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/jest/morph/hooks.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/jest/morph/internal.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/tests/jest/mask.spec.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/.editorconfig
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/.gitignore
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/cypress.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/hero.jpg
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/index.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/index2.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/jest.config.js
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/LICENSE.md
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/morph.html
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/package.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/package-lock.json
/docs/libs/aplinejs/alpine-3.13.3/alpine-3.13.3/README.md
/ExtraTicTacToe - Shortcut.lnk
